<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  <title>SpaceHolder – A space-themed image placeholder service.</title>

  <meta name="apple-mobile-web-app-title" content="SpaceHolder">
  <meta name="application-name" content="SpaceHolder">
  <meta name="description" content="You could settle for a basic grey box to show your placeholder images or you could substitute actual photos of the most gnarly places in the universe.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jgarber">
  <meta property="og:description" content="You could settle for a basic grey box to show your placeholder images or you could substitute actual photos of the most gnarly places in the universe.">
  <meta property="og:image" content="<%= asset_path 'spaceholder-180x180.png' %>">
  <meta property="og:title" content="SpaceHolder – A space-themed image placeholder service.">

  <link rel="apple-touch-icon" href="<%= asset_path 'spaceholder-180x180.png' %>">
  <link rel="shortcut icon" href="<%= asset_path 'spaceholder-180x180.png' %>">

  <link rel="stylesheet" href="<%= asset_path 'application.css' %>">
  <link rel="stylesheet" crossorigin="anonymous" href="https://fonts.googleapis.com/css?family=Titillium+Web:300,900&display=swap">
</head>
<body>

  <header class="header" id="header" role="banner">
    <h1 class="logo">
      <%= assets_environment['logo.svg'] %>
    </h1>
  </header>

  <main class="content" role="main">
    <%= yield %>
  </main>

  <footer class="footer" role="contentinfo">
    <p>SpaceHolder is freely available under the <a href="https://opensource.org/licenses/MIT" rel="license">MIT License</a>. Source code is available on <a href="https://github.com/jgarber623/spaceholder.cc" rel="source">GitHub</a>.</p>
  </footer>

  <script>
    (() => document.querySelector('#header').style.backgroundImage = 'url("/1200x400")')();
  </script>

</body>
</html>
